body {
    background-image: url('../png/fondoLogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.login-form button {
    width: 100%;
}

.img-thumbnail {
    max-width: 70%;
    border-radius: 50px;
}

#campos_login {
    border: 2px solid black;
    padding: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Color blanco con 70% de opacidad */
    border-radius: 10px; /* Bordes redondeados para la tarjeta */
    padding: 20px; /* Espaciado interno */
}

.input-group-text {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.label-input-u {
    margin-right: 60%;
}

.label-input-c {
    margin-right: 55%;
}


