body {
    background-image: url('https://i.ibb.co/yptGHzt/434565628-17897903444976562-5637318453861493893-n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.login-form button {
    width: 100%;
}

.img-thumbnail {
    max-width: 70%;
    border-radius: 50px;
}

#campos_login {
    border: 2px solid black;
    padding: 20px;
    align-items: center;
}

.input-group-text {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.label-input-u {
    margin-right: 60%;
}

.label-input-c {
    margin-right: 55%;
}
